{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}


<div class="row">
    <div class="col-md-4">
    </div>
    <!-- CENTER GRID BLOCK -->
    <div class="col-md-4">
        <!-- CARD BLOCK -->
        <div class="card border-info mb-3">
            <div class="card-header"><h1>Login</h1></div>
                <div class="card-body">
                    <!-- LOGIN FORM BLOCK -->
                    <div class="container">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" value="Login" class=" btn btn-default">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

    
{% endblock content %}
